{{!-- Copyright (C) 2012-present, The Authors. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

{{!-- ================ PROTIPS ================ --}}

<div
  class="
    {{#if no_write_hint}}hidden{{/if}}
    "> {{! protips column }}

  <p
    style="{{#unless desktop}}.unlessDesktopFontsize{{/unless}}"
    >
      {{!-- present all hints to screen reader --}}

      {{#if hideHelp}}
        {{!-- even if help text is hidden, still screen read the main comment box label/prompt --}}
        <label for="comment_form_textarea"
               class="display-none;">
          {{{s.writeCommentHelpText}}}
        </label>
      {{else}}
        <label for="comment_form_textarea"
               class="display-block;">
          {{{s.writeCommentHelpText}}}
        </label>
        <p>
          {{{s.helpWriteListIntro}}}
        </p>
        <ul>
          <li>{{{s.helpWriteListStandalone}}}</li>
          <li>{{{s.helpWriteListRaisNew}}}</li>
          <li>{{{s.helpWriteListShort}}}</li>
        </ul>
        <label for="comment_form_textarea" class="display-block;">
          {{{s.tipCommentsRandom}}}
        </label>
      {{/if}}

      {{!-- end screen-reader-text --}}
  </p>

  {{!-- present all hints to screen reader --}}
  <div class="screen-reader-text">
    <h2>{{s.commentWritingTipsHintsHeader}}</h2>
    <label for="comment_form_textarea" class="display-block;">{{charLimitString}}</label>
    <label for="comment_form_textarea" class="display-block;">{{s.tipNoQuestions}}</label>
    <label for="comment_form_textarea" class="display-block;">{{s.tipOneIdea}}</label>
  </div> {{!-- end screen-reader-text --}}


  <p
    id="char_limit_exceeded_message"
    class="protip"
    aria-hidden="true"
    class="display-block {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
    >
      <span aria-invalid="true" role="alert">
        {{charLimitString}}
      </span>
  </p>


  <p
    id="one_idea_per_comment_message"
    aria-hidden="true"
     class="
      protip
      display-none
      {{#unless desktop}}unlessDesktopFontsize{{/unless}}
      ">
      <span>
        {{s.tipOneIdea}}
      </span>
  </p>

  <p
    id="commentNotQuestionAlert"
    aria-hidden="true"
    role="alert"
     class="
      protip
      display-none
      {{#unless desktop}}unlessDesktopFontsize{{/unless}}
      ">
        <span aria-invalid="true" role="alert">
          {{s.tipNoQuestions}}
        </span>
  </p>

</div> {{! end protips column}}





  <form
    role="form">

    {{!-- ================ SOCIAL PICTURE && TEXT AREA ================ --}}
    <div class="display-block">
      {{#unless is_anon}}
      <span class="display-block">
        {{view profilePicView}}
      </span>
      {{/unless}}
      <span class="display-block">
        <textarea
          class="form-control"
          id="comment_form_textarea"
          rows="1"
          name="txt"
          type="text"
          maxlength="400"
          placeholder="{{s.writePrompt}}"
          {{#if shouldAutofocusOnTextarea}}autofocus{{/if}}

          ></textarea>
      </span>
    </div>

    {{!-- ================ CONNECT FACEBOOK / TWITTER ================ --}}
    <div
      id="socialButtonsCommentForm"
    >
      <div class="protip"><p><i class="fa fa-microphone"></i>&nbsp; {{s.connectToPostPrompt}}</p></div>
      {{#if auth_opt_fb}}
      {{#unless hasFacebook}}
        <button id="facebookButtonCommentForm" class="facebookButton">
          <i class="svgIcon">{{> iconFaFacebookSquare25}}</i>
          {{s.connectFacebook}}</button>
      {{/unless}}
      {{/if}}
      {{#if auth_opt_tw}}
      {{#unless hasTwitter}}
        <button id="twitterButtonCommentForm" class="twitterButton">
        <i class="svgIcon">{{> iconFaTwitter25}}</i>
          {{s.connectTwitter}}</button>
      {{/unless}}
      {{/if}}
    </div>

    {{!-- ================ LOWER CONTAINER ================ --}}
    <div
      id="comment_form_controls"
      class="
        comment_form_control_hideable
      ">

   {{!-- ================ CHARACTER COUNT && BUTTON ================ --}}
   <div>
      <span
        id="commentCharCount"
        aria-hidden="true" {{!-- don't show this to screen reader, since there's no problem --}}
        class="comment_form_control_hideable unselectable">
      </span>
      <label
        id="commentCharCountExceeded"
        for="comment_form_textarea"
        role="alert"
        class="comment_form_control_hideable unselectable">
      </label>
      <button
        class="
          Btn
          Btn-primary
          unselectable
          "
        id="comment_button"

        type="submit"
        >
        {{s.submitComment}}
      </button>
   </div>

      {{!-- ================ SUBMIT BUTTON CLICKED RESPONSE AREA ================ --}}
      <div
          class=" 
          commentSubmitClicked
          {{#if no_write_hint}}hidden{{/if}}
          ">
          {{! protips column }}

        <p
          id="comment_sent_message"
          class=" comment_sent_message display-none {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
          role="alert"
          >
            <span>
              {{{s.commentSent}}}
            </span>
        </p>

        <p
          id="comment_send_failed_message"
          class="comment_sent_message display-none {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailed}}}
            </span>
        </p>

        <p
          id="comment_send_failed_duplicate_message"
          class="comment_sent_message display-none {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailedDuplicate}}}
            </span>
        </p>

        <p
          id="comment_send_failed_conversation_closed_message"
          class="comment_sent_message display-none {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentErrorConversationClosed}}}
            </span>
        </p>

        <p
          id="comment_send_failed_empty_message"
          class="comment_sent_message display-none {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailedEmpty}}}
            </span>
        </p>

        <p
          id="comment_send_failed_too_long_message"
          class="comment_sent_message display-none {{#unless desktop}}unlessDesktopFontsize{{/unless}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailedTooLong}}}
            </span>
        </p>
      </div> {{! end SUBMIT BUTTON CLICKED RESPONSE AREA  column}}

   {{!-- ================ END LOWER CONTAINER ================ --}}
    </div>

  </form>
