{{!-- Copyright (C) 2012-present, The Authors. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

{{!-- ================ PROTIPS ================ --}}

<div
  class="
    combox
    {{#if no_write_hint}}hidden{{/if}}
    "> {{! protips column }}

  <p
    class=" {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
    >
      {{!-- present all hints to screen reader --}}

      {{#if hideHelp}}
        {{!-- even if help text is hidden, still screen read the main comment box label/prompt --}}
        <label for="comment_form_textarea"
               class="display-none;">
          {{{s.writeCommentHelpText}}}
        </label>
      {{else}}
        <label for="comment_form_textarea"
               class="display-block;">
          {{{s.writeCommentHelpText}}}
        </label>
        <p>
          {{{s.helpWriteListIntro}}}
        </p>
        <ul>
          <li>{{{s.helpWriteListStandalone}}}</li>
          <li>{{{s.helpWriteListRaisNew}}}</li>
          <li>{{{s.helpWriteListShort}}}</li>
        </ul>
      {{/if}}

      {{!-- end screen-reader-text --}}
  </p>

  {{!-- present all hints to screen reader --}}
  <div class="screen-reader-text">
    <h2>{{s.commentWritingTipsHintsHeader}}</h2>
    <label for="comment_form_textarea" class="display-block;">{{charLimitString}}</label>
    <label for="comment_form_textarea" class="display-block;">{{s.tipNoQuestions}}</label>
    <label for="comment_form_textarea" class="display-block;">{{s.tipOneIdea}}</label>
  </div> {{!-- end screen-reader-text --}}


  <p
    id="char_limit_exceeded_message"
    class="protip"
    aria-hidden="true"
    class="display-block  {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
    >
      <span aria-invalid="true" role="alert">
        {{charLimitString}}
      </span>
  </p>


  <p
    id="one_idea_per_comment_message"
    aria-hidden="true"
     class="
      protip
      display-none
      {{#unless desktop}}unlessDesktopFontsize{{/unless}}
      ">
      <span>
        {{s.tipOneIdea}}
      </span>
  </p>

  <p
    id="commentNotQuestionAlert"
    aria-hidden="true"
    role="alert"
     class="
      protip
      display-none
      {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}
      ">
        <span aria-invalid="true" role="alert">
          {{s.tipNoQuestions}}
        </span>
  </p>
<p> <label for="comment_form_textarea" class="display-block;">
          {{{s.tipCommentsRandom}}}
        </label></p>

</div> {{! end protips column}}





  <form
    role="form">

    {{!-- ================ SOCIAL PICTURE && TEXT AREA ================ --}}
    <div class="commentSubmitContainer mainbox">
     <div class="commentFormTextareaContainer">
      {{#unless is_anon}}
        {{view profilePicView}}
      {{/unless}}

        <textarea
          class="form-control commentFormTextarea display-block"
          id="comment_form_textarea"
          rows="1"
          name="txt"
          type="text"
          maxlength="400"
          placeholder="{{s.writePrompt}}"
          {{#if shouldAutofocusOnTextarea}}autofocus{{/if}}

          ></textarea>
        </div>
  
  
       <p class="protip"><i class="fa fa-microphone"></i>&nbsp; {{s.connectToPostPrompt}}</p>
       <div id="socialButtonsCommentForm" class="socialButtons commentForm">
            {{#if auth_opt_fb}}
      {{#unless hasFacebook}}
        <button id="facebookButtonCommentForm" class="Btn socialButton facebookButton">
          <i class="svgIcon">{{> iconFaFacebookSquare25}}</i>
          {{s.connectFacebook}}</button>
      {{/unless}}
      {{/if}}
      {{#if auth_opt_tw}}
      {{#unless hasTwitter}}
        <button id="twitterButtonCommentForm" class="Btn socialButton twitterButton">
        <i class="svgIcon">{{> iconFaTwitter25}}</i>
          {{s.connectTwitter}}</button>
      {{/unless}}
      {{/if}}
      </div>

       {{!-- ================ CHARACTER COUNT && BUTTON ================ --}}
   <div class="submitButtonContainer">
      <span
        id="commentCharCount"
        aria-hidden="true" {{!-- don't show this to screen reader, since there's no problem --}}
        class=" {{!comment_form_control_hideable}} unselectable">
  
      </span>
      <label
        id="commentCharCountExceeded"
        for="comment_form_textarea"
        role="alert"
        class="comment_form_control_hideable unselectable">
      </label>
      <label id="success_checkmark_icon" class="successsIcon" aria-hidden="true"><svg height="40" viewBox="0 0 1792 1792" style="display: inline; margin-right: 10px; fill: rgb(46, 204, 113);"><path d="M1299 813l-422 422q-19 19-45 19t-45-19l-294-294q-19-19-19-45t19-45l102-102q19-19 45-19t45 19l147 147 275-275q19-19 45-19t45 19l102 102q19 19 19 45t-19 45zm141 83q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"></path></svg></label>
      <button
        class="
          Btn
          Btn-primary
          unselectable
          submitButton
          "
        id="comment_button"

        type="submit"
        >
        {{s.submitComment}}
      </button>
   </div>   
      
       </div>

    {{!-- ================ LOWER MESSAGE AREA ================ --}}
      <div class="protip combox">

        
      {{!-- ================ SUBMIT BUTTON CLICKED RESPONSE AREA ================ --}}
      <div
          class=" 
          commentSubmitClicked
          {{#if no_write_hint}}hidden{{/if}}
          ">
          {{! protips column }}

        <p
          id="comment_sent_message"
          class=" comment_sent_message display-none {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
          role="alert"
          >
            <span>
              {{{s.commentSent}}}
            </span>
        </p>

        <p
          id="comment_send_failed_message"
          class="comment_sent_message display-none  {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailed}}}
            </span>
        </p>

        <p
          id="comment_send_failed_duplicate_message"
          class="comment_sent_message display-none  {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailedDuplicate}}}
            </span>
        </p>

        <p
          id="comment_send_failed_conversation_closed_message"
          class="comment_sent_message display-none  {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentErrorConversationClosed}}}
            </span>
        </p>

        <p
          id="comment_send_failed_empty_message"
          class="comment_sent_message display-none  {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailedEmpty}}}
            </span>
        </p>

        <p
          id="comment_send_failed_too_long_message"
          class="comment_sent_message display-none  {{!{{!#unless desktop}}unlessDesktopFontsize{{!/unless}}}}"
          role="alert"
          >
            <span>
              <i
                class="fa fa-bullhorn">
              </i>
              {{{s.commentSendFailedTooLong}}}
            </span>
        </p>
      </div> {{! end SUBMIT BUTTON CLICKED RESPONSE AREA  column}}
        
    </div>

    {{!-- ================ LOWER CONTAINER ================ --}}
    <div
      id="comment_form_controls"
      class="
        comment_form_control_hideable
      ">


   {{!-- ================ END LOWER CONTAINER ================ --}}
    </div>

  </form>
