{{!-- Copyright (C) 2012-present, The Authors. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

{{#ifNotEmbedded}}
<div>
</div>
{{/ifNotEmbedded}}

<div >
<span id="header_root" class="headerbox"></span>
</div>
<div
  class="
  conversationViewRoot
  clickDeselectsHull container
  {{#if use_background_content_class}}
  background_content
  {{/if}}
  "> {{! PARTICIPATION VIEW DIV }}

  {{#if useBannerHeader}}
    {{> headerWhatIsPolis}}
  {{/if}}
<div
  class="clickDoesNotDeselectHull display-none"
>
  {{view conversationTabs}}
  </div>

{{!  ------------ BEGIN TOPIC AND DESCRIPTION ---------------  }}

<section class="
  clickDeselectsHull header
">
    <div class="POLIS_HEADLINE conversationViewHeadline">
    {{#unless useBannerHeader}}
      {{#if showLogoAndBreadCrumbInHeader}}
          <div class="logobox">
            <a href="pol.is">
              <img class="logoImg"
                src="https://pol.is/polis_logo_2.png"
                alt=""
                >
            </a>
            <a
              href="/s/{{context}}"
              >
            /s/{{context}}
            </a>
          </div>
      {{else}}
        {{#if showLogoInHeader}}
          <div class="logobox">
            <img
              class="logoImg"
              src="https://pol.is/polis_logo_2.png"
              alt=""
              >
          </div>
        {{/if}}
      {{/if}}
    {{/unless}}

    {{#if show_admin_button}}
    <div 
      class="adminButton"
    >

      <a
        href="{{url_moderate}}"
        class="Btn Btn-alt"
        >
        ADMIN
      </a>


    </div>
    {{/if}}


    {{#unless no_topic}}
    {{#ifDefined topic}}
      <h2
        class="voteTopic"
        >
        {{topic}}
        {{#unless is_active}}
        <span class="no_you_vote" 
        >closed</span>
      {{/unless}}
      </h2>
    {{/ifDefined}}
    {{/unless}}

    {{#unless no_description}}
    {{#ifDefined description}}
        <p
          class="
            voteDescription
          ">
          {{{description}}}
        </p>
    {{/ifDefined}}
    {{/unless}}

    {{#if link_url}}
        <p
          class="
            linkExternal
          ">
        {{linkExternal link_url link_url}}
        </p>
    {{/if}}
    </div>
  </section> {{! /fake container }}

{{!  ------------ BEGIN MAIN CONTENT ---------------  }}

{{!  ------------ HELP TEXT ---------------  }}

<section
 class="
  clickDoesNotDeselectHull
  combox
  comboxTop
  {{#if hideHelp}} display-none{{/if}}
  {{#if no_voting}} display-none{{/if}} {{!-- this line is here because the help text references voting --}}
  ">
  <p>

      {{{s.participantHelpWelcomeText}}}

  </p>
</section>


{{!  ------------ VOTING PANEL ---------------  }}
<section class="voting {{#if no_voting}}display-none{{/if}}">
  {{view readReactView}}
</section>

{{#if auth_prompt_any_social}}
{{#unless hasFbAndTw}}
<div
  id="socialButtonsUnderReadReact"
  class="combox"
  >
  <p>
    {{s.socialConnectPrompt}}
  </p>
  <div class="socialButtons">
    {{#if auth_opt_fb_computed}}
    {{#unless hasFacebook}}
      <button class="Btn socialButton BtnCombox facebookButton" id="facebookButtonPtpt">
          <i class="svgIcon">{{> iconFaFacebookSquare25}}</i>
          {{s.connectFbButton}}
      </button>
    {{/unless}}
    {{/if}}

    {{#if auth_opt_tw_computed}}
    {{#unless hasTwitter}}
      <button class="Btn socialButton BtnCombox twitterButton" id="twitterButtonPtpt"> 
        <i class="svgIcon">{{> iconFaTwitter25}}</i>
        {{s.connectTwButton}}
      </button>
    {{/unless}}
    {{/if}}

  </div>  

</div>

{{/unless}}  {{!-- hasFbAndTw --}}
{{/if}}  {{!-- auth_prompt_any_social --}}




{{!  ------------ SUBMIT COMMENT FORM ---------------  }}

<section
  class="commentForm  container{{#if no_write}}display-none{{/if}}"
  >
  {{view commentForm}}
</section>

<section class="visualisation {{#if no_vis}}display-none{{/if}}"> {{!-- no_vis toggle wrapper --}}

  {{#if show_pca_vis}}
    <h3 class="headingVisualisation">
      {{s.opinionGroups}}
    </h3>

    <div
      id="comboxVisualisation"
      class="
        clickDoesNotDeselectHull
        combox
        {{#if hideHelp}}display-none{{/if}}
      ">
      <p>
        <span class="display-none" id="vis_help_label">
          {{!-- TODO_SECURITY try to not use triple brackets. --}}
          {{{s.participantHelpGroupsText}}}
        </span>
        <span class="display-none" id="vis_not_yet_label">
          {{!-- TODO_SECURITY try to not use triple brackets. --}}
          {{{s.participantHelpGroupsNotYetText}}}
        </span>
      </p>

      <div id="helpTextGroupsMore">
        {{{s.helpWhatAreGroupsDetail}}}
      </div>

    <div id="participationReportButton" class="Btn blueBtn">
    <a href="/viewreport/{{conversation_id}}">Report</a>
   </div>

         </div>

  {{/if}}


<div id="vis_section" class="display-none">


<div style="margin-bottom: 15px;"> {{!-- vis and carousel --}}

<div id="vis_sibling_above_tab_content"></div>

<div
  id="visualization_parent_div"
  class="clickDoesNotDeselectHull hidden"
  >
  <div
    id="visualization_div"
    class="vis_container clickDoesNotDeselectHull display-none"
    >
  </div>

  <div id="vis2_root"></div>

  {{#if show_top_comments}}
  <div id="top_comments" style="text-align: left">
    <h4 class="subheadingVisualisation">
      {{s.topComments}}
    </h4>
    {{view topCommentsView}}
  </div>
  {{/if}}
  {{#if show_divisive_comments}}
  <div id="divisive_comments" style="text-align: left">
    <h4 class="subheadingVisualisation">
      {{s.divisiveComments}}
    </h4>
    {{view divisiveCommentsView}}
  </div>
  {{/if}}
</div>
<div
  id="groupSelectionViewContainer"
  class="clickDoesNotDeselectHull"
 >
  {{view groupSelectionView}}
</div>

</div> {{!-- end lightPanel --}}
</div> {{!-- end vis_section --}}

</span> {{!-- end no_vis toggle wrapper --}}

</div>


{{!  ------------ BEGIN FOOTER ---------------  }}
{{#unless no_footer}}

  <div class="footerBacklink">
    <a href="https://pol.is" target="_blank">
      {{> logo}}
    </a>
    <div class="footerLinks">
        {{> linkPrivacy}}
        {{> linkTos}}
    </div>
  </div>


{{/unless}}
  {{! END FOOTER}}
{{!  ------------ END FOOTER ---------------  }}

</section> {{! END PARTICIPATION VIEW DIV }}
