{{!-- Copyright (C) 2012-present, The Authors. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}


<div id="statement_shower">

<div class="voteboxInfos">
  {{#if needSocial}}
{{!-- ================ CONNECT FACEBOOK / TWITTER ================ --}}
<div
  class="socialButtonsVoteView"
>
  <div class="protip"><p><i class="fa fa-microphone"></i>&nbsp; {{s.connectToVotePrompt}}</p></div>
  {{#if auth_opt_fb}}
  {{#unless hasFacebook}}
    <button id="facebookButtonVoteView" class="facebookButton">
      <i class="svgIcon">{{> iconFaFacebookSquare25}}</i>
      {{s.connectFacebook}}</button>
  {{/unless}}
  {{/if}}
  {{#if auth_opt_tw}}
  {{#unless hasTwitter}}
    <button id="twitterButtonVoteView" class="twitterButton">
    <i class="svgIcon">{{> iconFaTwitter25}}</i>
      {{s.connectTwitter}}</button>
  {{/unless}}
  {{/if}}
</div>

{{else}}  {{!-- !needSocial --}}

{{#if empty}}
  <div class="Notification Notification--warning"> {{!-- empty scenario div --}}
  {{#if subscribed}}
    <p class="HeadingFacebook"><i class="fa fa-bell-o"></i>&nbsp;<strong>{{txt1}}</strong></p>
    <p>{{txt2}}</p>
    <p>
      {{#ifNotIE8}}
        <i class="fa fa-check-square-o"></i>
      {{/ifNotIE8}}
      {{s.notificationsAlreadySubscribed}}
    </p>
  {{else}} {{!-- !subscribed --}}
    {{#if canSubscribe}}
      <p class="HeadingFacebook"><i class="fa fa-bell-o"></i>&nbsp;<strong>{{txt1}}</strong></p>
      <form role="form" class="FormVertical" id="subscribeEmailForm">
        {{#if email}}
          <p>{{s.notificationsGetNotified}}</p>
          <pre>{{email}}</pre>
        {{else}} {{!-- !email --}}
          <p>{{s.notificationsEnterEmail}}</p>
          <div class="FormVertical-group">
            <label class="FormLabel" for="gatekeeperEmailCreate">{{s.labelEmail}}</label>
            <input type="text" name="email" id="gatekeeperEmailCreate" size="40" class="email FormControl" {{#if readonlyEmail}}readonly{{/if}}>
          </div>
        {{/if}} {{!-- /email --}}
        <div class="FormVertical-group">
          <button id="subscribeBtn" class="Btn unselectable" 
            >{{s.notificationsSubscribeButton}}</button>
        </div>
      </form>
    {{else}} {{!-- !canSubscribe --}}
      <div><strong>{{txt1}}</strong></div>
      <div>{{txt2}}</div>
    {{/if}} {{!-- /canSubscribe --}}
  {{/if}} {{!-- /subscribed --}}
  </div> {{!-- /empty scenario div --}}

{{else}} {{!-- !empty --}}

  <!-- there is a comment to show -->
  <div> {{!-- notempty scenario div --}}

    <span class="screen-reader-text">
      {{remainingStringScreenReader}}
    </span>

    {{! social stuff }}
    <img
      class="socialAvatar"
      src="{{social.img}}"
      alt=""
      ></img>
    <p class="socialName">
      {{social.name}}
      <span>
        {{#if tweet_id}}
          <a href="https://twitter.com/{{social.screen_name}}/status/{{tweet_id}}" target="_blank">{{s.x_tweeted}}</a>
        {{else}} {{!-- !tweet_id --}}
          {{#if quote_src_url}}
            <a href="{{quote_src_url}}" target="_blank">{{s.x_wrote}}</a>
          {{else}}
            {{s.x_wrote}}
          {{/if}}
        {{/if}} {{!-- /tweet_id --}}
      </span>

    </p>
</div>

    {{#if showShowTranslationButton}}
      <button class="buttonTranslate
      " id="showTranslationButtonVoteView">{{showTranslationButton}}</button>
    {{/if}}
    {{#if showHideTranslationButton}}
      <button class="buttonTranslate
      " id="hideTranslationButtonVoteView">{{s.hideTranslationButton}}</button>
    {{/if}}

</div> 

    <p class="statement" lang="{{lang}}">
      {{txt}}
    </p>

    {{#if translationTxt}}
      <p class="statement" lang="{{translationLang}}">
        {{translationTxt}}
      </p>
      {{#if thirdPartyTranslationDisclaimer }}
        <p class="statement" lang="{{translationLang}}">
          {{thirdPartyTranslationDisclaimer}}
        </p>
      {{/if}}
    {{/if}}
    {{!-- {{createdString}} --}}
    {{!-- /notempty scenario div --}}
{{/if}}{{!-- /empty --}}

{{!--   </div> --}}


{{#if empty}}
  {{!-- nothing --}}
{{else}} {{!-- !empty --}}
  {{#if shouldMod}}
  <div class="modButtonContainer">
    <div
      class="
        flexbox
        justify-content-space-around
        align-items-baseline
        unselectable
      "
      >
      <div
        id="spamToggle"
        class="modToggle moderateButton {{#if spamOn}}selectedModerateButton{{/if}}"
        >
        {{s.modSpam}}
      </div>
      <div
        id="otToggle"
        class="modToggle moderateButton {{#if otOn}}selectedModerateButton{{/if}}"
        >
        {{s.modOffTopic}}
      </div>
      <div
        id="importantToggle"
        class="modToggle moderateButton {{#if importantOn}}selectedModerateButton{{/if}}"
        >
        {{s.modImportant}}
      </div>
    </div>
    <div id="modSubmit" class="modToggle moderateSubmitButton">
      {{#if noModSet}}
        {{s.modSubmitInitialState}}
      {{else}}
        {{s.modSubmit}}
      {{/if}}
    </div>
  </div>
  {{else}} {{!-- !shouldMod --}}
    <div
      class="
        reactionButtons
        flexbox
        justify-content-space-around
        align-items-baseline
        unselectable
      "
      >
      <button
        id="agreeButton"
        class="reactionButton"
        >
        <i class="svgIcon" 
          >{{> iconFaCircleCheck}}</i>
        {{s.agree}}
      </button>
      <button
        id="disagreeButton"
        class="reactionButton"
        >
        <i class="svgIcon">{{> iconFaBan}}</i>
        {{s.disagree}}
      </button>
      <button
        id="passButton"
        class="reactionButton"
        >
        {{s.pass}}
      </button>
    </div>

    {{#if showImportantCheckbox}}
    <div class="importantCheckbox">
      <label class="weight-label">
        <span class="weight-radio"></span>
        <input type="checkbox" name="checkbox" id="weight_high">
        {{s.importantCheckbox}}
      </label>
    </div>
    {{/if}}

  {{/if}} {{!-- /shouldMod --}}

{{/if}} {{!-- /empty --}}


{{/if}}  {{!-- /needSocial --}}


<div id="hereIsNextStatementLabel" class="screen-reader-text" role="alert">{{s.hereIsNextStatement}}</div>

</div> {{!-- /statement_shower div --}}
